<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <div class="row" *ngIf="products.length > 0; else noProducts">
                <!-- Loop the Products -->
                <div *ngFor="let product of products" class="col-md-3">
                    <div class="product-box">
                        <a routerLink="/products/details/{{ product.id }}">
                            <img src="{{ product.imageUrl }}" alt="{{ product.name }} Image" class="image-responsive">
                            <h1>{{ product.name }}</h1>
                        </a>
                        <div class="price">{{ product.unitPrice | currency:'USD' }}</div>
                        <button class="btn btn-primary btn-sm" (click)="addToCart(product)">Add Product</button>
                    </div>
                </div>
            </div>
            <ng-template #noProducts>
                <div class="row alert alert-warning col-md-12" role="alert">
                    No Products Found!!
                </div>
                <a routerLink="/products" class="primary-btn">Back</a>
            </ng-template>
        </div>
    </div>
</div>